@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-2xl: initial;
}

@layer base {
  html {
    background: #f3f3f3;

    @variant dark {
      background: var(--color-gray-900);
    }
  }
}
