@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-2xl: initial;
}

@layer base {
  html {
    background: #f5f5f5;

    @variant dark {
      background: black;
    }
  }
}
